{# PortfolioBundle/Resources/views/Portfolio/about.html.twig #}
{% extends 'PeshPortfolioBundle:Portfolio:common/base.html.twig' %}


{% block title %}
	About
{% endblock %}

{% block body %}
	<h1>about</h1>
{% endblock %}