{# PortfolioBundle/Resources/views/Portfolio/cv.html.twig #}
{% extends 'PeshPortfolioBundle:Portfolio:common/base.html.twig' %}


{% block title %}
	CV
{% endblock %}

{% block body %}
	<h1>cv</h1>
{% endblock %}