{# PortfolioBundle/Resources/views/Portfolio/index.html.twig #}
{% extends 'PeshPortfolioBundle:Portfolio:common/base.html.twig' %}


{% block title %}
	Portfolio
{% endblock %}

{% block body %}
	<h1>index</h1>
{% endblock %}