{# PortfolioBundle/Resources/views/Portfolio/veille.html.twig #}
{% extends 'PeshPortfolioBundle:Portfolio:common/base.html.twig' %}


{% block title %}
	Veille
{% endblock %}

{% block body %}
	<h1>veille</h1>
{% endblock %}