{# PortfolioBundle/Resources/views/Portfolio/common/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Portfolio{% endblock %}</title>
        {% block style %}<link rel="stylesheet" href="{{ asset('bundles/peshportfolio/css/style.css') }}" />{% endblock %}
        <link rel="shortcut icon" href="{{ asset('bundles/peshportfolio/images/favicon.ico') }}" />
        <script type="text/javascript" src="{{ asset('bundles/peshportfolio/js/lib/jquery.js') }}"></script>
    </head>
    <body>
    	{{ include('PeshPortfolioBundle:Portfolio:common/menu.html.twig') }}
        <div class="content">
            {% block body %}{% endblock %}
            {% block script %}{% endblock %}
        </div>
    </body>
</html>