.content .left-column {
    width: 70%;
}

.content td {
    vertical-align: baseline;
}

.article {
    min-height: 300px;
    min-width: 150px;
    border: 2px solid black;
    margin: 10px;
    background-color: #393939;
    border-radius: 10px;
}

.article .title {
    font-size: 25px;
    font-family: Impact;
    padding-top: 5px;
    padding-left: 20px;
    color: #E66E00;
}

.article .title a {
    text-decoration: none;
}

.article .body {
    color: #E6E6E6;
    font-family: Verdana;
    margin: 10px;
    text-align: justify;
}

.article a {
    color: #E66E00;
}

.article a:hover {
    color: #E6E6E6;
}

.article .body li p {
    margin-top: 5px;
    margin-left: 10px;
}

.article .body dt {
    margin-top: 5px;
    color: #E66E00;
}

.moi {
    width: auto;
}

.moi img{
    margin-left: 10px;
    float: right;
    border: 2px solid #E66E00
}

.formation {
    width: 45%;
    float: left;
}

.skills {
    width: 45%;
    float: right;
}

.rss {

}

.item {
    
}

.item hr {
    clear: both;
}

.item-title {
    text-align: center;
    font-size: 14px;
    margin-bottom: 3px;
    font-weight: bold;
}

.item-link {
    text-decoration: none;
}

.item-date {
    text-align: right;
    font-size: 8px;
}

.item-description {
    text-align: left;
    font-size: 10px;
}

.item-description strong, .item-description a {
    font-size: inherit;
    color: inherit;
}

.item-description img {
    border: none;
}

#loading {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}