body {
    background-color: #E6E6E6;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 10px 0px #E66E00;
    border-radius: 0 0 10px 10px;
    background-color: black;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 30px;
}

.links li {
    float: left;
    width: 20%;
    height: 100%;
}

.links li a {
    display: block;
    height: calc(100% - 5px);
    background-color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Impact, Verdana;
    color: #E6E6E6;
    padding-top: 5px;
}

.links li a:hover {
    background-color: #E66E00; 
}

.logo img{
    padding: 2px;
    border-radius: 0px 0px 20px 0px;
    background-color: #E6E6E6;
    float: left;
}

.logo span {
    color: #E6E6E6;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Verdana;
    margin-top: 5px;
    margin-left: 15px;
    display: inline-block;
}

.links {
    clear: both;
}

.content {
    margin-top: 76px;
    padding: 20px;
}