body {
    background-color: #E6E6E6;
}

strong {
    color: #E66E00;
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 10px 0px #E66E00;
    border-radius: 0 0 10px 10px;
    background-color: black;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 30px;
}

.links li {
    float: left;
    width: 20%;
    height: 100%;
}

.links li a {
    display: block;
    height: calc(100% - 5px);
    background-color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Impact, Verdana;
    color: #E6E6E6;
    padding-top: 5px;
}

.links li a:hover {
    background-color: #E66E00; 
}

.logo img{
    padding: 2px;
    border-radius: 0px 0px 20px 0px;
    background-color: #E6E6E6;
    float: left;
}

.logo span {
    color: #E6E6E6;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Verdana;
    margin-top: 5px;
    margin-left: 15px;
    display: inline-block;
}

.links {
    clear: both;
}

.content {
    margin-top: 76px;
    padding: 20px;
}

.content .left-column {
    width: 70%;
}

.content td {
    vertical-align: baseline;
}

.article {
    min-height: 300px;
    min-width: 150px;
    border: 2px solid black;
    margin: 10px;
    background-color: #393939;
    border-radius: 10px;
}

.article .title {
    font-size: 25px;
    font-family: Impact;
    padding-top: 5px;
    padding-left: 20px;
    color: #E66E00;
}

.article .title a {
    text-decoration: none;
}

.article .body {
    color: #E6E6E6;
    font-family: Verdana;
    margin: 10px;
    text-align: justify;
}

.article .body img {
    margin-left: 10px;
    float: right;
    border: 2px solid #E66E00
}

.article a {
    color: #E66E00;
}

.article a:hover {
    color: #E6E6E6;
}

.article .body li p {
    margin-top: 5px;
    margin-left: 10px;
}

.article .body dt {
    margin-top: 5px;
    color: #E66E00;
}

.moi {
    width: auto;
}

.formation {
    width: 45%;
    float: left;
}

.skills {
    width: 45%;
    float: right;
}

.rss {

}